/*------------------SHARED----------------------*/
body{
    font-family: sans-serif;
    
    }
    #footer{
        background-color: #bcc1c86c ;
        display: block;
        position: relative;
        height: 50px;
        margin-top: 20px;

    }
    /*======================SARA=====================*/
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    @font-face{
        font-family: "Alliance";
        src: url("Alliance.ttf") format("truetype");
    }
    .menu-bar{
        background-image: linear-gradient(to right, #ffffff) ;
    }
    .nav-link{
        font-size: 16px;
        color: #4c516d !important;
        margin: 2px;
    }


    .navbar-brand{
        font-family: 'Teko', sans-serif;/*********************/
        font-weight: 700;
        font-size: 35px !important;
        color: #0066CC !important;/*********/
        margin-right: 5px !important;
    }
    .care{
        font-family: 'Teko', sans-serif;;/*********************/
        font-weight: 700;
        font-size: 35px;
        color: #5F9EA0 !important;/*********/
        margin-right: 5px !important;
    }
    
    .navbar-nav{
        text-align: center;
    }
    .menu-bar .navbar-toggler{
        border: none;
        outline: none;
        padding-right: 0;
        color: white !important;
    }
    .banner{
        height: 95vh;
        background-image: url(images/back33.png);
        
        background-size: 100%;
        background-position: center;
        color: white;
    }
    /* footer */
    footer{
        background: #f8f9fd;
        padding: 20px 10px 8px;
    }
    footer #footer-logo{
        font-family: 'Teko', sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: black !important;
        margin: 30px 0;
    }
    footer p{
        color: #333;
    }
    footer a img{
        width: 40px;
    }
    footer a {
        margin: 5px;
    }
    hr{
        background-color: #ccc;
    }
    

    /*=======================END SARA=================*/

/*------------------AFNAN----------------------*/
/*BAR*/

#UP #navbarNav {
    position: absolute;
    right: 2px;
}

#UP .menu-bar{
    position: relative;
    background-image: linear-gradient(to right, #ffffff);
    padding-left: 6px; 
    padding-right: 14px;
}

#UP .navbar-brand {
    font-family: 'Teko', sans-serif;/**/
    font-weight: 700;
    margin-left: 10px;
    font-size: 35px;
    color: #0066CC !important;/**/
    margin-right: 5px !important;
}



/* NEW ADEDD*/

.postBar{
    width: 100%;
    height: 40px;
    background-color: cadetblue;
    font-size:20px;
    padding-left: 70px; 
}

.postBar a{
    color: white;
}

.containerJobs{
    margin-top: 100px;
}


/* To put space in the top of the page DONE*/ 
#jobs
{
    padding: 10px; 
    margin-bottom: 20px;
  
} 

/* shape of the jobs*/
.company-details 
{
    box-shadow: 0 2px 70px 0 rgba(110, 130, 208, 0.205);
    border-bottom-left-radius:50px;
    border-top-left-radius: 0px;
    border-top-right-radius:150px;
    /* width: 50%; <<<< out ----------r */
    margin-left: 10px; /* 10 ----------r */
    position: relative;
    /* left: 180px;<<<< out------------r  */ 
    margin-top: 20px;
}

#jobs2 .company-details 
{
    margin-top: 0; 
}


.company-details.card
{
    box-shadow: 0 2px 70px 0 rgba(110, 130, 208, 0.205);
    width: 45%;
    margin-left: 20px;
    margin-bottom: 20px;    

}

/*inner content*/
.job-details
{
   padding: 10px 20px;
   border-radius: 5px; 
   
   /*----------r-----------------*/
   width: 90%;
   height: 90%;
 /*  overflow: hidden;*/
  /* text-overflow: ellipsis;*/
   word-wrap: break-word;
   padding-bottom: 60px; 
  
}

.job-details .fa
{
    margin-top: 5px;
    margin-right: 10px; /* to put a space between text and icons*/
    color: #0066CC; /* icons color*/

}

.job-details small
{
    background: #efefef;
    padding: 1px 5px;
    margin:0 5px;    
}

/* to be connected*/
.job-details p
{
    margin-bottom: 0 /*!important*/;
}


/* apple and edit button*/
.apply-btn
{
    /* changed couple stuff...... acnt rememeber which------r  */ 
    position: absolute; /**/
    bottom: 0; /**/
    width: 100%; /**/
    left: 0; /**/
    height: 40px;
    background-color: cadetblue;
    border-bottom-left-radius: 750px;
    border: 1px solid ;
    padding: 10px;
 
}

.apply-btn .btn-primary
{
    padding: 0 30px;
    float: right;
    border-radius:0;
    background: transparent;
    border: 1px solid white;
    position: absolute ;/**/
    right: 10px; /**/
    bottom: 5px; /**/

}

.delete
{
    margin-right: 100px;
}

.viewApp{
    margin-right: 220px;  
}

/*button edit*/
.edit a:hover{
    color: white;
}
.edit a:link{
    color: white;
}
.edit a:visited{
    color: white;
}
/*button edit*/



/* apply and edit button*/


/*navfation links*/


.pagelink li
{
    height: 25px;
    width: 25px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
   
}

/*navfation links*/

/* in job detalis page*/
.box , .box2{
    position: relative;
    left: 370px;
    right: 50px;
    padding: 10px;
   font-size: 19px;
   border-radius: 60px;
   border: 1px solid cadetblue;
   padding: 10px;
}


.box2{
    width: 800px;
    height: 1050px;
    margin-bottom: 50px;

}

.box{
    width: 800px;
    height: 250px;
}

.heading{
    margin-top: 50px;
    text-align: center;
   
}

.box2 li , .box p{
    margin: 10px;
    padding: 10px;
}

/* I can change it if u want*/
h1 , h2 , h3 , h4{
color: #4c516d;
}


.apply-btn a , #jobs a {
    text-decoration: none;
}


#jobs a:link{
    color: white;
}
#jobs a:visited{
    color: white;
}



  
/*--------------------RAWAN---------------*/ 


#rSPage h3,#rSPage h5,#rSPage h6 {
    font-family: 'Teko', sans-serif;
    font-stretch: ultra-expanded;
    
    color: rgb(75, 75, 75);
    
}

#rSPage h3 {
    font-size: 40px;
    font-weight: lighter;
}


#rSPage h5 {
    font-size: 30px;
}


#rSPage h6 {
    font-size: 25px;
}


#search-result .row {
    margin-bottom: 20px;
}


#jobs2 .row {
    margin-top: 40px;
    margin-bottom: 25px;
}

.general_view #paginationID { 
	
    position: relative;
    margin-left: 30%;  
    margin-right: auto;
	 /* Same as the width of the sidebar */
    padding: 0px 10px; 
}

.general_view .pagination {
    align-content: center;
    margin-top: 50px;
    position: relative;
}

.general_view .page-link {
    color: cadetblue;
    border: none;
    background-color: transparent;
}

#side-filter {
    position: absolute;
    display: block;
    padding-top: 30px;
    height: 600px; 
    width: 17%;
    min-width: 100px;
    
    margin-right: 10px;
}


#search-result .center-btn {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    align-content: center;
    width: 100%;

    /*raneem*/ 
    
    bottom: 0;
    font-family: monospace;
    color: black;
    border: none;
}


#Advice-Feed .btn-primary, #search-result .btn-primary {
    color: white;
    border: 1px solid white; 
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#search-result .btn-primary {
    margin-top: 10px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left:20%; 
    width: 60% ;
    max-width: 60%;
    min-width: 75px;
}


#search-result .card-columns, #search-result .card {
    margin-bottom: .75rem;
    box-shadow: 0px 20px 50px 0 rgba(110, 130, 208, 0.1);

}

#search-result h4 {
    font-style: bold;
    font-family: serif;
}


#search-result button, #Advice-Feed button{
    background-color: rgba(94, 171, 173, 0.486);
}


button.button-viewDetails, .like-button button,  .dis-button button {
    background-color: rgba(87, 184, 187, 0.486); margin-bottom: 30px; 
    font-weight: bold; border:rgba(0, 0, 0, 0.322);
     border:rgba(0, 0, 0, 0.493); ;

}

.like-button button,  .dis-button button {
    margin-bottom: 0px;    
}

#search-result .btn-primary:hover,  .like-button button:hover,  .dis-button button:hover {
   
    background-color:cadetblue;
    color: #000;
    
}

#search-result a{text-decoration: none;
    color:white;
}

#search-result a:hover{
    color:rgb(58, 56, 56);
}

#search-result .circlar-img, #Advice-Feed .circlar-img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 39%;
    height: 93%;
    
    border-radius: 50%;  
}

#Advice-Feed .circlar-img {
    width: 50%;
    height: 90%;
}

#Advice-Feed.empFeed .circlar-img {
    width: 60%;
    height: 90%;
}


.search_title {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
}

p.search_title{
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
    color: cadetblue;
}


h6.search_title{
    margin-top: 20px;
    margin-bottom: 8px;

}

#EmpType{
    margin-top: 20px;
}


.general_view h3 {
    position: relative;
    font-weight: lighter;
    font-stretch: expanded;
    margin-bottom: 20px;
} 

.general_view .match {
    position: relative;
    font-weight: lighter;
    font-stretch: expanded;
    margin-bottom: 20px;
    font-size: 30px;
    
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
     /* Set the width of the sidebar */
    min-width: 24%;
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1;  Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(223, 223, 223, 0.315); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    /* margin-top: 50px; */ 
    padding-left: 20px;
}

.sidenav p {
    font-weight: bold;
}
.sidenav h5 {
    margin-top: 10px;
    margin-bottom: 30px;
}
  
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
/* Style page content */
.search-result {
    margin-left: 350px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; width: 24%;}
    .sidenav a {font-size: 18px;}

    #addAdvice {
        width: 100%;
        position: fixed;
        right: 4px;
        top: 80%; 
    
    }
    
}


@media screen and (max-width: 600px) {
    .sidenav { display: none;}
    #Advice-Feed .circlar-img {
        width: 30%;
        height: 90%;
    }
    #addAdvice {
        width: 100%;
        position: fixed;
        right: 1px;
        top: 80%; 
    }
    
}

#citySearch, #MajorSearch, #CnameSearch1, #CnameSearch2, #PosSearch,  #CscopeSearch, #SkillSearch, #NatSearch {
    width: 70%;
    height: 32px;
}

#NatSearch::placeholder, #SkillSearch::placeholder, #citySearch::placeholder, #MajorSearch::placeholder, #CnameSearch1::placeholder, #PosSearch::placeholder, #CnameSearch1::placeholder, #CscopeSearch::placeholder {
    font-size: 16px;

}

.btn.btn-flat.px-3.waves-effect {
    margin-right: 5px;
}

.clear-btn {
    position: absolute;
    right: 5px;
    border: none;
    background-color: transparent;
    font-size: small;
    margin-right: 10px;
}



/*---------------RAWAN PT2 ADVICE-------------------*/



.addAdviceBtn a {
    background-color: transparent;
    color: white;
}

#jobs2 .job-details
{
   overflow: hidden;
   text-overflow: ellipsis;
}


/* DEEEEEEEEEEEEEEMAAAAAAAAAAAAAAAAAAAAAAAAAA PHASE 2 */

#TRY .menu-bar {
    color: white !important;
}
.formJS,
.formEM , #formEEM{
    background: white;
    padding: 50px 100px;
    border-top: 10px solid cadetblue ;
}
.title {
    text-align: center;
    font-family: 'Poppins-Medium' !important;

}
.bodySUE,
.bodySUJS,#TRY {
    background-image:url(3477678.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    display: grid;
    align-items: center;
    font-size: 12pt;
    font-family: 'Poppins-Medium' !important;
   color: #2A293E;
}

.bodySUJS #header, #TRY #header {
    background-color: white;
}

.formEM ,.formJS {
    justify-items: center;
    position: relative;
    margin: center;
    margin-left: auto;
    margin-right: auto;
}
.bodySUE .menu-bar{
    background-color: white; /* uhhhhh */ 
}
/*
#bodySUE{
    margin: 50px 20px 20px 50px;
    justify-items: center;
    border: black;
     background: #f5f5f5;
    background-size: cover;
}*/

#UserType ,.innerForm {
    position: relative;
    margin: center;
    padding:  5px 5px 5px 5px ;
    margin-top: 50px 50px  50px 50px;
    margin-left: 100px;
    margin-right: 40px;
    margin-bottom: 300px; 
    font-family: 'Poppins-Medium' !important;
    justify-items:center;
    
    
    }
#UserType h1 {
  text-align: center;  
}
.profileBodyE,
.profileBodyJS {
    width: auto;
    height: auto;
    text-align:left;
    justify-items: left;

}
.profileBodyJS .text-center ,.profileBodyE .text-center {  /* New */
 margin-top: 800px;
 text-align:center;  
}
.UserType {
    background: #f5f5f5;

}

#Elable,
#JSlable {
    position: relative;
    top: 100px;
    right: 110px;
    text-decoration: none;
    color: black;
}

#Elable:hover,
#JSlable:hover {
    color: cadetblue;
    font-weight: bold;
}

.formEM label,
.formJS label,
.formEM input,
.formJS input,
.formEM textarea,
.formJS textarea {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 12pt * 2;
    font-family: 'Poppins-Medium' !important;
}

.formEM input,
.formJS input {
    margin-bottom: 12pt * 2;
}

.formEM input,
.formEM textarea,
.formJS input,
.formJS textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 7px 10px ;
    outline: none;
    background: white;
    margin-top: -7px;
    resize: none;
    font-family: 'Poppins-Medium' !important;
}




input[type=submit] {
    width: 100%;
    background-color: cadetblue;
    color: whitesmoke;
    padding: 10px 10px;
    margin: 1px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0066CC;
    color: white;
    border: 1px solid ;
}

.profile-container {
    width: 485px;
    height: 485px;
    margin: 1px auto;
    margin-top: 100px;
    margin-left: 250px;
    margin-bottom: 1000px;
}

.profile-menu {
    float: left;
    width: 45%;
    background: #ffffff;
    box-shadow: 0 0 25px rgba(#000000, 0.2);
    padding: 10px;
    border: 0.1px solid cadetblue;
    border-radius: 4%;
}

.ProfileInfoE {
    width: 585px;
    background: white;
    padding: 40px 50px;
    border: 1px solid cadetblue;
    position: relative;
    margin-left: 180px;
    border-radius: 5%;
    margin-bottom: 100px; /**/
}

.ProfileInfoJS {
    width: 585px;
    background: white;
    padding: 40px 50px;
    border: 1px solid cadetblue;
    position: relative;
    margin-left: 180px;
    border-radius: 5%;
    margin-bottom: 700px; /**/
}

#lastN,
#Email,
#Gender,
#City,
#CurrentJ {
    position: relative;
    left: 250px;

}

#firstN,
#lastN {
    top: -77px;
}

#phoneN {
    position: relative;
    top: -30px;
}

#Email {
    top: -109px;
}

#birthD {
    position: relative;
    top: -58px;
}

#Gender {
    top: -133.9px;
}

#Nationality {
    position: relative;
    top: -78px;
}

#City {
    top: -157px;
}

#major {
    position: relative;
    top: -97px;
}

#CurrentJ {
    top: -173px;
}

#exp,
#skills {
    position: relative;
    top: -123px;
}

.ProfileInfoJS p,
.ProfileInfoE p {
    margin-top: 4.5px;
    font-weight: lighter;
    color: darkslategray;
    width: 500px;
}

.ProfileInfo label {
    font-size: 16px;
}

.image-container {
    width: 70px;
    height: 70px;
    margin: 10px 0px 70px 10px;

}

.imgD {
    max-width: 190%;
    height: auto;
    border-radius: 60%;
    padding: 1px;
    padding-top: -px;
}

.imgD:hover {
    opacity: 0.8;
}

.eProfile {
    list-style: none;
    margin: 0;
    padding: 0;
}

.eProfile li {
    padding: 10px 20px;
    font-size: 15px;
    border-left: solid 5px cadetblue;
    margin-top: -1px;
}

.eProfile a {
    text-decoration: none;
    color: black;
}
.eProfile a:hover {
    text-decoration: none;
    color: black;
}
.eProfile li:hover {
    background: #f7f7f7;
    border-left: solid 5px #0066CC;
    cursor: pointer;
    text-decoration: none;

}

.eProfile ul:last-child {
    margin-top: 50px;
}

.title a {
    text-decoration: none;
    color: cadetblue;
    font-size: small;
    font-family:'Poppins-Medium' !important;

}

.innerForm {
    /* dose't make anything :( */
    position: relative;
    top: 100px;
    min-height: calc(100vh - 116px);
    background-color: white;
}

.inType {
    margin-top: 200px;
    box-sizing: border-box;
    display: block;
}

.inType h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins-Medium' !important;
    margin-bottom: 40px;
    margin-right:100px;
}

.rowUT {
    display: flex;
    flex-wrap: wrap;
    margin-right: -90px;
    margin-left: -15px;
    box-sizing: border-box;

}

.switch {
    position: relative;
    /* top: px if you need */
    left: 25px;
    display: inline-block;
    width: 43px;
    height: 19px;


}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: cadetblue;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*---------------RAWAN PT2 ADVICE-------------------*/

#Advice-Feed h5 {
    font-weight: 600;
    font-size: 30px; 
    font-family: 'Teko', sans-serif;

}

#Advice-Feed .card-img1 {
    position: relative;
    display: block;
    height: 140px;
    width:100%;
}


#Advice-Feed #1st-row {
    padding-top: 90px;
}

#Advice-Feed .card {
    background-color: white;
    box-shadow: 0 2px 70px 0 rgba(110, 130, 208, 0.205);
    
}

#Advice-Feed > .row {
    position: relative;
    margin-top: 20px;
}

#card-details {
    min-height: 150px;
    
} 

.author {
    font-size: 18px;
    margin-top: 10px;
}

.date {
    font-size: 10px;
    position: absolute;
    bottom: 0;
}


.like-button {
    position: absolute;
    right: 60px; 
    bottom: 5px;
 
}

.dis-button {
    position: absolute;
    right: 10px; 
    bottom: 5px;

}

.cardFooter{
   bottom: 0;
   position: absolute;
   width: 100%;
   margin-top: 10px;
   height: 40px;
   
}

.empFeed .cardFooter { 
    height: 35px;
    
}

.card-body h5 {
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#Advice-Feed .card-body {
    margin-bottom: 10px;
}

#Advice-Feed.empFeed .card-body {
    margin-bottom: 20px;
}



.card-footer {
    width: 100%;
    background-color: transparent;
}

#AdviceOP {
    position: absolute;
    bottom: 4px;
    right: 10px;

}

/*----------------for new ver header----------*/ 
#rPage #navbarNav {
    position: absolute;
    right: 2px;
}

#rPage .menu-bar{
    position: relative;
    background-image: linear-gradient(to right, #ffffff);
    padding-left: 6px; 
    padding-right: 14px;
}

#rPage .navbar-brand {
    font-family: 'Teko', sans-serif;/*********************/
    font-weight: 700;
    margin-left: 10px;
    font-size: 35px;
    color: #0066CC !important;/*********/
    margin-right: 5px !important;
}

/*----------------^^^^^^^^^^^for new ver header^^^^^^^^----------*/ 

#addAdvice {
    width: 100%;
    position: fixed;
    right: 25px;
    top: 85%; 
    bottom: 300px;

}

.spaceRow {
    margin-bottom: 50px;
}

.btn.addAdviceBtn {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute;
    border-radius: 50%;
    right: 0;
    height: 60px;
    width: 60px;

}
